html, body {
  height: 100%;
  font-family: Helvetica, arial, sans-serif;
  background: #838583; }

h1, h2, h6 {
  font-family: 'Museo300', Helvetica, arial, sans-serif;
  font-weight: normal; }

h3, h4, h5 {
  font-family: 'Museo500', Helvetica, arial, sans-serif;
  font-weight: normal; }

h1, h2 {
  color: #838583;
  margin: 0; }

h3, h4, h5, h6 {
  color: #343534; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.3em; }

h5, h6 {
  font-size: 1em; }

a {
  color: #343534; }

a:hover {
  color: #b84f4f; }

#logo {
  display: none; }

#body-container {
  margin: 50px auto 0 auto;
  width: 980px;
  border: 1px solid #000;
  background: url("../images/grey-bg.png") top left repeat #343534; }

#page {
  background: url("../images/page-bg.png") top left no-repeat;
  padding: 30px 0; }

#site-name {
  margin: 0 0 0 240px;
  font-family: 'Museo300', Helvetica, arial, sans-serif;
  height: 140px; }
  #site-name a {
    display: block;
    width: 360px;
    padding: 20px 0 0 0;
    font-size: 70px;
    color: #fff;
    text-decoration: none; }
  #site-name div.imagereplacement {
    position: absolute;
    width: 360px;
    height: 112px; }
    #site-name div.imagereplacement a {
      padding: 112px 0 0 0;
      height: 0;
      overflow: hidden;
      background: url("../images/logo.png") top left no-repeat; }

#navigation {
  position: absolute; }

#main-menu {
  position: relative;
  top: -203px;
  width: 980px; }
  #main-menu ul {
    margin: 0;
    padding: 0; }
  #main-menu li {
    float: right;
    list-style: none;
    font-family: 'Museo500', Helvetica, arial, sans-serif;
    font-size: 18px;
    padding: 0 13px;
    border-right: 1px solid #606160; }
    #main-menu li a {
      text-decoration: none;
      color: #343534; }
    #main-menu li a:hover {
      color: #5abfcf; }
  #main-menu li:first-child {
    border-right: none; }

#footer {
  border-top: 1px solid #838583;
  margin: 40px 15px 0 15px;
  padding: 20px 0 30px 0;
  font-family: Helvetica, arial, sans-serif;
  color: #838583;
  font-size: 0.8em;
  clear: both; }
  #footer #block-menu-menu-footer-menu ul {
    margin: 0;
    padding: 0; }
  #footer #block-menu-menu-footer-menu li {
    float: right;
    list-style: none;
    padding: 0 11px 0 9px;
    border-right: 1px solid #606160; }
    #footer #block-menu-menu-footer-menu li a {
      color: #838583;
      text-decoration: none; }
    #footer #block-menu-menu-footer-menu li a:hover {
      text-decoration: underline;
      color: #5abfcf; }
  #footer #block-menu-menu-footer-menu li:first-child {
    border-right: none; }

.content {
  line-height: 1.4em; }

.node-type-homepage .field-name-field-welcome {
  margin: 0 30px 40px 240px;
  min-height: 160px;
  font-family: 'Museo300', Helvetica, arial, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.6em; }
.node-type-homepage #content-header h1 {
  display: none; }
.node-type-homepage .homepage-panel {
  width: 297px;
  min-height: 360px;
  float: left;
  margin: 0 7px;
  padding: 160px 0 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }
  .node-type-homepage .homepage-panel .field-items {
    margin: 15px; }
  .node-type-homepage .homepage-panel h3 a {
    text-decoration: none; }
  .node-type-homepage .homepage-panel h3 a:hover {
    text-decoration: underline; }
  .node-type-homepage .homepage-panel a.moreinfo {
    font-family: 'Museo500', Helvetica, arial, sans-serif;
    color: #343534;
    text-decoration: none; }
  .node-type-homepage .homepage-panel a.moreinfo:hover {
    text-decoration: underline;
    color: #b84f4f; }
.node-type-homepage .group_aboutus {
  background: url("../images/about-us.png") top right no-repeat #5abfcf;
  margin-left: 25px; }
.node-type-homepage .group_services {
  background: url("../images/services.png") top right no-repeat #93d1de; }
.node-type-homepage .group_contactus {
  background: url("../images/contact-us.png") top right no-repeat #1693af; }

.node-type-about .field-name-field-welcome {
  margin: 0 30px 40px 240px;
  min-height: 90px;
  font-family: 'Museo300', Helvetica, arial, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.6em; }
.node-type-about #content-header h1 {
  margin: 0 30px 0 240px; }
.node-type-about #main-content .director {
  clear: both; }
.node-type-about #main-content .field-type-image {
  float: left;
  margin: 0;
  padding: 25px 15px 15px 70px; }
  .node-type-about #main-content .field-type-image img {
    border: 1px solid #838583; }
.node-type-about #main-content .director-details {
  min-height: 160px;
  float: left;
  width: 710px;
  padding: 15px 0 10px 0;
  margin: 15px 0 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }
  .node-type-about #main-content .director-details .field-items {
    margin: 0 15px; }
.node-type-about #main-content .group_director1_details {
  background: #5abfcf; }
.node-type-about #main-content .group_director2_details {
  background: #93d1de; }
.node-type-about #main-content .group_director3_details {
  background: #1693af; }
.node-type-about #main-content .field-name-field-director1-name, .node-type-about #main-content .field-name-field-director2-name, .node-type-about #main-content .field-name-field-director3-name {
  font-family: 'Museo500', Helvetica, arial, sans-serif;
  color: #343534;
  font-size: 1.6em;
  margin: 0 0 0.5em 0; }
.node-type-about #main-content a.linkedin {
  font-family: 'Museo500', Helvetica, arial, sans-serif;
  color: #343534;
  text-decoration: none; }
.node-type-about #main-content a.linkedin:hover {
  text-decoration: underline;
  color: #b84f4f; }

.node-type-services .field-name-field-welcome {
  margin: 0 30px 40px 240px;
  min-height: 120px;
  font-family: 'Museo300', Helvetica, arial, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.6em; }
.node-type-services #content-header h1 {
  margin: 0 30px 0 240px; }
.node-type-services .service {
  width: 297px;
  min-height: 400px;
  float: left;
  margin: 0 7px;
  padding: 10px 0 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }
  .node-type-services .service .field-items {
    margin: 15px; }
  .node-type-services .service h3 {
    font-size: 1.2em; }
  .node-type-services .service ul {
    margin-left: 1.5em; }
  .node-type-services .service li {
    margin: 0 0 0.7em 0;
    color: #fff; }
  .node-type-services .service li span {
    color: #000; }
.node-type-services .group_service1 {
  background: #5abfcf;
  margin-left: 25px; }
.node-type-services .group_service2 {
  background: #93d1de; }
.node-type-services .group_service3 {
  background: #1693af; }

.node-type-standard #content-header h1 {
  margin: 0 30px 0 240px; }
.node-type-standard #main-content {
  margin: 0 30px 0 240px;
  min-height: 200px;
  color: #fff; }
  .node-type-standard #main-content a {
    color: #5abfcf; }
  .node-type-standard #main-content a:hover {
    color: #b84f4f; }
  .node-type-standard #main-content blockquote {
    background: #93d1de;
    padding: 15px;
    margin: 2em 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; }
    .node-type-standard #main-content blockquote a {
      color: #343534; }

.page-locationmap #content-header h1 {
  margin: 0 30px 0 240px; }
.page-locationmap #main-content {
  margin: 0 30px 0 240px; }
  .page-locationmap #main-content h3 {
    margin: 0.6em 0 0.3em 0; }
  .page-locationmap #main-content .email, .page-locationmap #main-content .twitter, .page-locationmap #main-content .addresses {
    padding: 15px;
    margin: 15px 0 0 0;
    min-height: 100px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; }
  .page-locationmap #main-content .email {
    background: url("../images/email.png") top right no-repeat #5abfcf; }
  .page-locationmap #main-content .twitter {
    background: url("../images/twitter.png") top right no-repeat #93d1de; }
  .page-locationmap #main-content .addresses {
    background: url("../images/postal.png") top right no-repeat #1693af; }
    .page-locationmap #main-content .addresses .physical {
      float: left;
      width: 280px; }
    .page-locationmap #main-content .addresses .postal {
      margin-bottom: 2em; }
  .page-locationmap #main-content #locationmap_map {
    width: 500px;
    margin: 15px 0 0 0;
    border: 1px solid #838583; }
.page-locationmap #locationmap-in-place-edit-form {
  display: none; }

.page-user #main {
  margin: 0 30px 0 240px; }
.page-user ul.tabs {
  margin: 1em 0;
  position: static; }
  .page-user ul.tabs li {
    float: none;
    display: inline; }
.page-user .form-item label {
  font-family: 'Museo500', Helvetica, arial, sans-serif;
  color: #fff;
  font-weight: normal; }
.page-user .form-item .description {
  color: #838583; }
.page-user .profile {
  background: #93d1de;
  padding: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

ul.tabs {
  position: relative;
  top: -163px;
  width: 980px;
  border-bottom: none;
  margin: 0;
  padding: 0; }
  ul.tabs li {
    float: right; }
    ul.tabs li a {
      background: #838583;
      border: 1px solid #000;
      color: #343534; }
    ul.tabs li a:hover {
      background: #93d1de;
      border: none; }
    ul.tabs li a.active {
      background: none;
      border: none;
      color: #838583; }

@font-face {
  font-family: 'Museo300';
  src: url("../fonts/Museo300-Regular-webfont.eot");
  src: url("../fonts/Museo300-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo300-Regular-webfont.woff") format("woff"), url("../fonts/Museo300-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo300-Regular-webfont.svg#Museo300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo500';
  src: url("../fonts/Museo500-Regular-webfont.eot");
  src: url("../fonts/Museo500-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo500-Regular-webfont.woff") format("woff"), url("../fonts/Museo500-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo500-Regular-webfont.svg#Museo500") format("svg");
  font-weight: normal;
  font-style: normal; }
