$pagewidth: 980px;
$pagemargin: 240px;
$lightgrey: #838583;
$darkgrey: #343534;
$logocolour1: #5abfcf;
$logocolour2: #93d1de;
$logocolour3: #1693af;
$hovercolour: #094856;

html, body {
	height: 100%;
	font-family: Helvetica, arial, sans-serif;
	background: $lightgrey;
}

h1, h2, h6 {
	font-family: 'Museo300', Helvetica, arial, sans-serif;
	font-weight: normal;
}
h3, h4, h5 {
	font-family: 'Museo500', Helvetica, arial, sans-serif;
	font-weight: normal;
}
h1, h2 {
    color: $lightgrey;
    margin: 0;
}
h3, h4, h5, h6 {
    color: $darkgrey;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.3em;
}
h5, h6 {
	font-size: 1em;
}

a {
	color: inherit;
}
a:hover {
	color: $hovercolour;
}

#logo {
	display: none;
}

#body-container {
	margin: 50px auto 0 auto;
	width: $pagewidth;
	border: 1px solid #000;
	background: url('../images/grey-bg.png') top left repeat $darkgrey;
}

#page {
	background: url('../images/page-bg.png') top left no-repeat;
	padding: 30px 0;
}

#site-name {
	margin: 0 0 0 $pagemargin;
	font-family: 'Museo300', Helvetica, arial, sans-serif;
	height: 140px;
	a {
		display: block;
		width: 360px;
		padding: 20px 0 0 0;
		font-size: 70px;
		color: #fff;
		text-decoration: none;		
	}
	div.imagereplacement {
		position: absolute;
		width: 360px;
		height: 112px;
		a {
			padding: 112px 0 0 0;
			height: 0;
			overflow: hidden;
			background: url('../images/logo.png') top left no-repeat;
		}
	}	
}

#navigation {
	position: absolute;
}
#main-menu {
	position: relative;
	top: -203px;
	width: $pagewidth;
	
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		float: right;
		list-style: none;
		font-family: 'Museo500', Helvetica, arial, sans-serif;
		font-size: 18px;
		padding: 0 13px;
		border-right: 1px solid #606160;
		
		a {
			text-decoration: none;
			color: $darkgrey;
		}
		a:hover {
			color: $logocolour1;
		}
	}
	li:first-child {
		border-right: none;
	}
	
}


#footer {
	border-top: 1px solid $lightgrey;
	margin: 40px 15px 0 15px;
	padding: 20px 0 30px 0;
	font-family: Helvetica, arial, sans-serif;
	color: $lightgrey;
	font-size: 0.8em;
	clear: both;
	
	#block-menu-menu-footer-menu {
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			float: right;
			list-style: none;
			padding: 0 9px;
			border-right: 1px solid #606160;
			a {
				color: $lightgrey;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
				color: $logocolour1;
			}
		}
		li:first-child {
			border-right: none;
		}
	}
}



.content {	
	line-height: 1.4em;
}

.node-type-homepage {
	#content-header h1 {
		display: none;
	}
	.field-name-field-welcome {
		margin: 0 30px 40px $pagemargin;
		min-height: 200px;
		font-family: 'Museo300', Helvetica, arial, sans-serif;
		color: #fff;
		font-size: 1.1em;
		line-height: 1.6em;
	}
	.group_aboutus, .group_services, .group_contactus {
		width: 297px;
		min-height: 265px;
		float: left;
		margin: 0 7px;
		-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-khtml-border-radius: 4px;
    	border-radius: 4px;
    	padding: 160px 0 0 0;
    	
    	.field-items {
    		margin: 15px;
    	}
    	h3 a {
    		text-decoration: none;
    	}    	
    	h3 a:hover {
    		text-decoration: underline;
    	}
	}
	.group_aboutus {
		background: url('../images/about-us.png') top right no-repeat $logocolour1;
		margin-left: 25px;
	}
	.group_services {
		background: url('../images/services.png') top right no-repeat $logocolour2;
	}
	.group_contactus {
		background: url('../images/contact-us.png') top right no-repeat $logocolour3;
	}
}

.node-type-about {
    #content { 
        margin: 0 30px 0 $pagemargin;
    }
    .field-name-field-welcome {
		font-family: 'Museo300', Helvetica, arial, sans-serif;
		color: #fff;
		font-size: 1.1em;
		line-height: 1.6em;
    }
}

ul.tabs {
	position: relative;
	top: -163px;
	width: $pagewidth;
	border-bottom: none;
	margin: 0;
	padding: 0;
	li {		
		float: right;
		a {
			background: $lightgrey;
			border: 1px solid #000;
			color: $darkgrey;
		}
		a:hover {
			background: $logocolour2;
			border: none;
		}
		a.active {
			background: none;
			border: none;
			color: $lightgrey;
		}
	}
}



@font-face {
    font-family: 'Museo300';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';
    src: url('../fonts/Museo500-Regular-webfont.eot');
    src: url('../fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo500-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo500-Regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}